
*{
    margin: 0;
    padding: 0;
}
#Logo{
    width: 100px
}
/*https://www.google.com/search?sca_esv=561082500&rlz=1C1FKPE_pt-PTBR1067BR1067&sxsrf=AB5stBhV-vpxFhp0NzuUjFRHI-7ZGlIolA:1693336167895&q=cursos+de+tecnologia+Unimar&tbm=isch&source=lnms&sa=X&ved=2ahUKEwiSo5bmyIKBAxVWq5UCHSFwCUMQ0pQJegQICxAB&biw=1920&bih=963&dpr=1#imgrc=BCk0eJX4-0pf4M/